input {
    keyboard {
        xkb {
            layout "us,ara"
            options "grp:alt_shift_toggle"
        }
        repeat-delay 200
        repeat-rate 25
    }
}

layout {
    focus-ring {
        off
    }
    default-column-width { proportion 1.0; }
}

switch-events {
    lid-close {
        spawn "dms" "ipc" "call" "lock" "lock";
    }
}

window-rule {
    match app-id=r#"^(dev\.zed\.Zed|com\.mitchellh\.ghostty|local\.tui\..*)$"#
    open-maximized true
}

window-rule {
    match app-id=r#"^(google-chrome|com.google.Chrome|niri-webapp-.*|chrome-.*-Default)$"#
    open-maximized true
}

binds {
    Mod+Q hotkey-overlay-title=null { spawn "true"; }
    Mod+D hotkey-overlay-title=null { spawn "true"; }
    Mod+W repeat=false hotkey-overlay-title="Close Window" { close-window; }
    Mod+Tab repeat=false hotkey-overlay-title="Next Workspace" { focus-workspace-down; }
    Mod+Shift+Tab repeat=false hotkey-overlay-title="Previous Workspace" { focus-workspace-up; }
    Mod+O repeat=false hotkey-overlay-title="Overview" { toggle-overview; }
    Mod+Down { focus-window-or-workspace-down; }
    Mod+Up { focus-window-or-workspace-up; }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+Shift+Down { move-window-down-or-to-workspace-down; }
    Mod+Shift+Up { move-window-up-or-to-workspace-up; }
    Mod+Shift+J { move-window-down-or-to-workspace-down; }
    Mod+Shift+K { move-window-up-or-to-workspace-up; }
    Mod+Return repeat=false hotkey-overlay-title="Open Terminal" { spawn "ghostty"; }
    Mod+Shift+B repeat=false hotkey-overlay-title="Open Browser" { spawn "google-chrome"; }
    Mod+Shift+Alt+B repeat=false hotkey-overlay-title="Open Browser Incognito" { spawn "google-chrome" "--incognito"; }
    Mod+Shift+N repeat=false hotkey-overlay-title="Notion" { spawn "webapp-launch-or-focus" "notion" "https://www.notion.so"; }
    Mod+Shift+R repeat=false hotkey-overlay-title="Reddit" { spawn "webapp-launch-or-focus" "reddit" "https://www.reddit.com"; }
    Mod+Shift+C repeat=false hotkey-overlay-title="Google Calendar" { spawn "webapp-launch-or-focus" "google-calendar" "https://calendar.google.com"; }
    Mod+Shift+A repeat=false hotkey-overlay-title="ChatGPT" { spawn "webapp-launch-or-focus" "chatgpt" "https://chatgpt.com"; }
    Mod+Shift+Y repeat=false hotkey-overlay-title="YouTube" { spawn "webapp-launch-or-focus" "youtube" "https://www.youtube.com"; }
    Mod+Shift+M repeat=false hotkey-overlay-title="YouTube Music" { spawn "webapp-launch-or-focus" "youtube-music" "https://music.youtube.com"; }
    Mod+Shift+G repeat=false hotkey-overlay-title="Gmail" { spawn "webapp-launch-or-focus" "gmail" "https://mail.google.com"; }
    Mod+Shift+D repeat=false hotkey-overlay-title="Discord" { spawn "webapp-launch-or-focus" "discord" "https://discord.com/app"; }
    Mod+Shift+Z repeat=false hotkey-overlay-title="Zed" { spawn "zed" "--new"; }
    Mod+Shift+E repeat=false hotkey-overlay-title="Files" { spawn "nautilus" "--new-window"; }
}
